* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body,
html {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
}

header {
    background-color: #3b7978;
    font-size: 55px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fdf2f2;
    transition: 0.8s;
    box-shadow: 1px 1px 5px 0.2px #a7a1a1;
}
.logo-header{
    margin-left: 10%;
}
.forget{
    text-decoration: none;
    color: #3b7978;
    margin-bottom: 10px;
}

main {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form {
    padding: 8px;
    border: 0;
    border-bottom: 2px solid blue;
    margin-top: 10px;
}



.matricula {
    margin-top: 20px;
    outline: 0;
}

.psd {
    margin-bottom: 10px;
    outline: 0;
}


.text-login {
    color: #3a4e51;
    font-size: 30px;
}

.button-entrar {
    padding: 10px;
    background-color: #2dc2ac;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    transition: 0, 5s;
}

.button-entrar * {
    text-decoration: none;
    color: aliceblue;
}

.button-entrar:hover {
    background-color: #009694;
    color: white;
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 20%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}

.apresentation-login {
    background: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}