.salas-cards{
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    text-align: center;
    justify-content: center;
    margin: 0 0 20px 0;
    grid-row-gap: 1em;
}

.salas-cards-uni:hover{
    background-color: var(--cor-primaria);
    opacity: 90%;
}

.salas-cards-uni{
    background-color: var(--cor-primaria);
    width: 300px;
    height: 200px;
    display: grid;
    list-style: none;
    text-decoration: none;


    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.salas-cards-uni p{
    font-size: 20px;
}

.turmastext{
    margin-left: 20px;
}

.tools-painel-sala{
    display: flex;
align-items: center;}